.text-input {
  box-sizing: border-box;
  display: block;
  margin-bottom: 15px;
  padding: 2px;
  width: 100%;
}

.label {
  color: #333;
  font-size: 12px;
  font-weight: 700;
}

.control {
  text-align: left;
}

.control h3 {
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
  margin-bottom: 20px;
}

.required {
  color: #F13C43;
}