.comment-card-list {
  float: left;
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 601px);
  margin: 0 0 0 20px;
}

.comment-card-list h2{
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;

}
.templates-wrapper{
  /*border-top: 1px solid #ddd;
  padding: 20px 0;*/
}
.comment-card-list-item{
  width: 100%;
  min-height: 60px;
  text-align: left;
  padding: 15px 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.comment-card-list-item:hover{
  background: #fafafa;
}

.comment-card-list-item .template-name { 
  font-size: 18px;
  font-weight: normal;
  color:#333;
}
.comment-card-list-item .template-desc {
  color:#999;
  font-size: 14px;
}

.comment-card-list-item:last-child{
  border-bottom: 1px solid #ddd;
}

.comment-card-list-item button {
  display: none !important;
  position: absolute !important;
  right: 10px;
  top: 15px;
}
.comment-card-list-item:hover button{ 
  display: block !important;
}
.comment-card-list-item:hover button:hover{
  cursor: pointer;
}