.question-library-list {
  background: #ddd;
  float: left;
  height: 600px;
  width: 300px;
}

.loader-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loader-container img {
  width: 40px;
}

.question-add-container {
  margin: 10px 0;
  width: 100%;
}

.question-container {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.question-container:hover {
  background: #FAFAFA;
  cursor: move;
}

.question-container ul {
  list-style-type: none;
  padding: 0;
}

.question-container ul li {
  padding: 0 0 10px 0;
  text-align: left;
}

.edit-image {
  width: 715px;
}

.question-area {
  border: 1px dotted #333;
  border-radius: 3px;
  min-height: 300px;
}